{{extend 'layout.html'}}
{{block header}}
<div class="bc-row navbar navbar-default navbar-fixed-top">
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div class="container-fluid" style="min-width: 800px;">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs breadcrumbs">
                        {{=breadcrumbs}}
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="col-sm-6 col-md-9">
                            <ul class="nav nav-pills" style="margin-left: 10px;">
                                <li role="presentation" class="active">
                                    <a id="active-tab" href="#active-investigations" aria-controls="active-investigations" role="tab" data-toggle="tab">
                                        Active
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a id="closed-tab" href="#closed-investigations" aria-controls="active-investigations" role="tab" data-toggle="tab">
                                        Closed
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{if auth.has_membership(user_id=auth.user_id, role='Directors'):}}
                        <div class="col-sm-6 col-md-3">
                            <a class="btn btn-success pull-right"
                               href="{{=URL(c='reports', f='current_status')}}"
                               id="rpt-status" style="margin-left:5px">
                                <i class="fa fa-fw fa-file-o"></i>
                                Build Reports
                            </a>
                        </div>
                        {{pass}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block center}}
<div class="row">
    <div class="col-xs-12 grid-wrapper">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="active-investigations">
                {{=active_grid}}
            </div>
            <div role="tabpanel" class="tab-pane" id="closed-investigations">
                {{=closed_grid}}
            </div>
        </div>
    </div>
</div>
{{end}}

<div class="col-md-12" style="overflow: hidden;">
    {{=active_grid}}
</div>

{{block footer}}{{end footer}}

{{block page_js}}
<script src="{{=URL('static', 'public/DataTables/js/jQuery.dataTables.js')}}"></script>
<script src="{{=URL('static', 'public/DataTables/js/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
        // Active Grid Setup - add a text input to each header cell
        $('#active-grid thead th').each( function () {
            var title = $(this).text();
            $(this).html( '<input class="form-control" type="text" placeholder="Search '+title+'" />' );
        } );
		var activeGrid = $("#active-grid").DataTable({
			sortable: true,
		});
        $("#active-grid_filter").remove();
        // Apply the search
        activeGrid.columns().every( function () {
            var that = this;
            $( 'input', this.header() ).on( 'keyup change', function () {
                if ( that.search() !== this.text ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
        // Closed Grid Setup - add a text input to each header cell
        $('#closed-grid thead th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
		var closedGrid = $("#closed-grid").DataTable({
			sortable: true,
		});
        $("#closed-grid_filter").remove();
        // Apply the search
        closedGrid.columns().every( function () {
            var that = this;
            $( 'input', this.header() ).on( 'keyup change', function () {
                if ( that.search() !== this.text ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
	});
</script>
{{end page_js}}