{{extend 'layout.html'}}

{{block header}}
<div class="bc-row navbar navbar-default navbar-fixed-top">
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div class="container-fluid" style="min-width: 800px;">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs breadcrumbs">
                        {{=breadcrumbs}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12">
        <div class="page-header" style="margin-top: 0px;">
            <h2>{{=case.name }} ({{=case.case_number}})</h2>
            <ul class="nav nav-pills">
              <li role="presentation" class="active">
                  <a href="#case-summary" aria-controls="Overview"
                     role="tab" data-toggle="tab">
                      Overview
                  </a>
              </li>
              <li role="presentation">
                  <a href="#case-history" aria-controls="History"
                     role="tab" data-toggle="tab">
                      Status History
                  </a>
              </li>
              <a class="pull-right btn btn-primary" data-toggle="modal" data-target="#create-modal"
               style="padding: 13px 8px; margin-bottom: 20px;">
                <i class="fa fa-fw fa-refresh"></i>
                Update Status
              </a>
            </ul>
        </div>
    </div>
</div>

<div class="tab-content">
    <div id="case-summary" role="tabpanel" class="tab-pane fade in active">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <label class="col-xs-6 form-control-static">Privileged?:</label>
                                    <div class="col-xs-6">
                                        <div class="form-control-static">
                                            {{='Yes' if case['is_privileged'] else 'No'}}
                                        </div>
                                    </div>
                                </div>
                                {{for f in ['segment', 'region', 'country',
                                            'key_subject', 'exposure_amount', 'view_status', 'days_open']:}}
                                <div class="row">
                                    <label class="col-xs-6 form-control-static">{{=db.case_file[f].label}}:</label>
                                    <div class="col-xs-6">
                                        <div class="form-control-static">
                                            {{=case[f] if case[f] is not None else 'Not Provided'}}
                                        </div>
                                    </div>
                                </div>
                                {{pass}}
                            </div>
                            <div class="col-xs-6">
                                {{for f in ['total_hrs', 'two_wk_hrs', 'director', 'sr_mgr',
                                            'lead', 'resp_exec', 'last_activity_on']:}}
                                <div class="row">
                                    <label class="col-xs-6 form-control-static">{{=db.case_file[f].label}}:</label>
                                    <div class="col-xs-6">
                                        <div class="form-control-static">
                                            {{=case[f] if case[f] is not None else 'Not Provided'}}
                                        </div>
                                    </div>
                                </div>
                                {{pass}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header" style="margin-top:0;">
                        </div>
                    </div>
                </div>
                {{if case.is_active == True:}}
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-2 form-control-static">{{=db.case_file.description.label}}:</label>
                        <div class="col-xs-9">
                            <div class="form-control-static">
                                {{=case.description}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header" style="margin-top:0;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-2 form-control-static">{{=db.case_file.current_status.label}}:</label>
                        <div class="col-xs-9">
                            <div class="form-control-static">
                                {{=case.current_status.comment}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header" style="margin-top:0;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-2 form-control-static">{{=db.case_file.next_steps.label}}:</label>
                        <div class="col-xs-9">
                            <div class="form-control-static">
                                {{=case.next_steps}}
                            </div>
                        </div>
                    </div>
                </div>
                {{else:}}
                <div class="row">
                    <div class="col-xs-12">
                        <label class="col-xs-2 form-control-static">{{=db.case_file.conclusion.label}}:</label>
                        <div class="col-xs-9">
                            <div class="form-control-static">
                                {{=case.conclusion}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header" style="margin-top:0;">
                        </div>
                    </div>
                </div>
                {{pass}}
            </div>
        </div>
    </div>
    <div id="case-history" role="tabpanel" class="tab-pane">
        <div class="panel panel-default">
            <div class="panel-body">
                {{for i, note in enumerate(notes):}}
                {{rendered_note = notes.render(i)}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-control-static">
                            <div class="page-header" style="margin-top: 0;margin-bottom: 10px;">
                                <span>
                                    <strong>
                                        <em>
                                            <span>[{{=rendered_note.status_date}}]</span>
                                            <span> - </span>
                                            <span>{{=rendered_note.reported_by}} says:</span>
                                        </em>
                                    </strong>
                                </span>
                                <span class="pull-right">
                                    <a id="{{=note.id}}" class="btn-update" href="{{=URL('notes', 'update', extension='load', args=note.id)}}">
                                        <i class="fa fa-pencil-square-o fa-fw"></i>
                                    </a>
                                </span>
                            </div>
                            <label class="col-xs-2 form-control-static">{{=db.case_file.current_status.label}}:</label>
                            <div class="form-control-static" style="margin-bottom: 10px;">
                                {{=rendered_note.comment}}
                            </div>
                            <label class="col-xs-2 form-control-static">{{=db.case_file.next_steps.label}}:</label>
                            <div class="form-control-static" style="margin-bottom: 10px;">
                                {{=rendered_note.next_steps}}
                            </div>
                        </div>
                    </div>
                </div>
                {{pass}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="createModalLabel">Update Status</h4>
      </div>
      <div class="modal-body">
        {{=create_form}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="updateModalLabel">Update Status</h4>
      </div>
      <div class="modal-body">
        {{=update_form}}
      </div>
    </div>
  </div>
</div>

{{block page_js}}
<script src="{{=URL(c='static', f='public/js/spin.min.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#case-history').on('click', function(e) {
          if ($(e.target).parent().is('a')) {
              e.preventDefault();
              url = $(e.target).parent().attr('href');
              web2py_component(url, 'update-form-container');
              $('#update-modal').modal('show');
          }
        });
    });
</script>
{{end page_js}}
