<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','public/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','public/css/bootstrap-theme.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','public/css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','public/css/styles.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','src/img/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','public/images/favicon.png')}}">
    <link rel="stylesheet" href="{{=URL(c='static', f='public/DataTables/css/dataTables.bootstrap.css')}} "/>
    <link rel="stylesheet" href="{{=URL(c='static', f='public/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','public/js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','public/js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-{{=response.layout_theme}} navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{=response.logo or ''}}
        </div>
        <span class="pull-right" style="padding-top: 10px; color: white">
            <strong>Welcome, Stranger</strong>
        </span>
      </div>
    </nav>
    <!-- Masthead ===================================== -->    
    {{block header}}{{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    {{block main}}
    <main class="container-fluid" id="content" role="main" style="margin-top: 120px;">
        <div class="row-fluid">
            <div class="sidebar sidebar-left col-xs-3">
                {{block left_sidebar}}{{end}}
            </div>
            <div class="report col-xs-12">
                <div class="container-fluid">
                {{if left_sidebar_enabled:}}
                    <div class="col-md-3 left-sidebar">
                    {{block left_sidebar}}
                        <h3>Left Sidebar</h3>
                        <p></p>
                    {{end}}
                    </div>
                {{pass}}
                    <div class="{{=middle_column}}">
                    {{block center}}
                    {{include}}
                    {{end}}
                    </div>
                {{if right_sidebar_enabled:}}
                    <div class="col-md-3">
                    {{block right_sidebar}}
                        <h3>Right Sidebar</h3>
                        <p></p>
                    {{end}}
                    </div>
                {{pass}}
                </div>
            </div>
        </div>
    </main>
    {{end}}
    {{block footer}} <!-- this is default footer -->
    <footer class="footer">
      <div class="container-fluid">

      </div>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','public/js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','public/js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL('static','public/js/moment.js')}}"></script>
    <script src="{{=URL('static','public/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{pass}}

  </body>
</html>
