.bc-row {
    top: 51px;
    background-color: transparent;
    padding: 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    z-index: 1;
    &.bc-row-shrink {
      padding: 0;
    }
    .container-fluid {
      padding: 0;
    }
    .btn {
      margin-right: 15px;
    }

  }

.breadcrumbs {
  line-height: 40px;
}

@media(min-width:768px) {
  .bc-row {
    top: 100px;
    padding: 0;
  }
}

