// Global components

body {
  	margin-bottom: 50px;
	.body-font;
}

body{
   .body-font;
   margin-bottom: 50px;
   min-width:1000px; /* suppose you want minimun width of 1000px */
   overflow-x: hidden;
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */
}

.footer {
  background: url(../../src/img/backgrounds/pattern-bqo6.png);
  background-color: transparent;
}

.text-muted {
	color: @gray;
}

.text-primary {
	color: @brand-primary;
}

.text-warning {
	color: @brand-warning;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

p.large {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}

a {
	color: @brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken(@brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	.heading-font;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: @gray-lighter;
}

.bg-darkest-gray {
	background-color: @gray-darkest;
}

// Restyled Primary Buttons

.btn-primary {
	.button-variant(white; @brand-primary; @brand-primary);
	.heading-font;
	font-weight: 700;
}

.btn-dark {
	.button-variant(white; @brand-dark; @brand-dark);
	.heading-font;
	font-weight: 700;
}

.btn-info {
	.button-variant(white; @brand-info; @brand-info);
	.heading-font;
	font-weight: 700;
}

.btn-danger {
	.button-variant(white; @brand-danger; @brand-danger);
	.heading-font;
	font-weight: 700;
}

.btn-success {
	.button-variant(white; @brand-success; @brand-success);
	.heading-font;
	font-weight: 700;
}

.btn-warning {
	.button-variant(white; @brand-warning; @brand-warning);
	.heading-font;
	font-weight: 700;
}

.btn-default {
	.button-variant(white; @brand-default; @brand-default);
	.heading-font;
	font-weight: 700;
}

.btn-xl {
	.heading-font;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
}