main {
  -webkit-transition: margin-top .3s ease-in-out;
  -moz-transition: margin-top .3s ease-in-out;
  -o-transition: margin-top .3s ease-in-out;
  transition: margin-top .3s ease-in-out;
  &.main-shrink {
    margin-top: 160px;
  }
}

.brand-name a {
  font-size: 2em;
}

// Custom Navigation Bar

.navbar {
    z-index: 2;
	border-color: transparent;
	.navbar-brand {
		color: @brand-primary;
        padding: 5px;
		.heading-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
        	color: darken(@brand-primary, 10%);
        }
        img {
          display: inline;
          height: 40px;
        }
	}
	.navbar-collapse {
		border-color: fade(white, 2%);
	}
	.navbar-toggle {
		background-color: @brand-primary;
		border-color: @brand-primary;
		.icon-bar {
			background-color: white;
		}
		&:hover,
		&:focus {
			background-color: @brand-primary;
		}
	}
    .nav {
    	li {
    		a {
    			.heading-font;
    			font-weight: 400;
    			letter-spacing: 1px;
    			&:hover,
    			&:focus {
    				color: @brand-primary;
    				outline: none;
                  border-radius: 4px;
    			}
    			&:focus {
    				border-radius: 4px;
    			}
    		}
		  	&.active {
			  a {
				.heading-font;
    			font-weight: 400;
    			letter-spacing: 1px;
    			&:hover,
    			&:focus {
    				color: white;
    				outline: none;
                  border-radius: 4px;
    			}
    			&:focus {
    				border-radius: 4px;
    			}
			  }
			}
    	}
    }
	.navbar-nav>.active>a {
		border-radius: 0;
		color: white;
		background-color: @brand-primary;
	}
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		color: white;
		background-color: darken(@brand-primary, 10%);
	}
	.navbar-nav>.dropdown>.dropdown-menu {
    	width: 100%;
    	min-width: 100%;
	}
	.navbar-nav>.dropdown>.dropdown-menu>li>a {
    	color: @brand-primary;
    	&:hover,
    	&:focus, {
    		color: white;
			background-color: darken(@brand-primary, 10%);
    	}
    }
    .navbar-nav>.dropdown>.dropdown-menu>li.active>a {
    	background-color: @brand-primary;
    	color: white;
    	&:hover,
    	&:focus, {
    		color: white;
			background-color: darken(@brand-primary, 10%);
		}
    }
    .navbar-right {
    	margin-right: 0;
    }
}

@media(min-width:768px) {
    .navbar {
    	background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        &.navbar-shrink {
              padding: 10px 0;
              .navbar-brand {
                  font-size: 1.5em;
              }
          }
	    .navbar-brand {
	        font-size: 2em;
            padding: 0px 10px;
	        -webkit-transition: all 0.3s;
	        -moz-transition: all 0.3s;
	        transition: all 0.3s;
            img {
              height: 50px;
            }
	    }
		.navbar-nav>.active>a {
			border-radius: 3px;
		}
    }
}

// Custom navbar colors

.navbar-blue {
  background-image: url(../../src/img/backgrounds/pattern-bqo6.png);
  .nav {
		li {
		  a {
			color: white;
		  }
		}
	  }
}


