.panel-transparent {
  margin-top: 0;
  margin-bottom: 0;
  background-color: @panel-transparent-bg;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 0px rgba(0,0,0,.05);
  .panel-variant(@panel-transparent-border; @panel-transparent-text; @panel-transparent-heading-bg; @panel-transparent-border);
}