// blue navbar
@navbar-blue-color:             #fff;
@navbar-blue-bg:                #0073AE;
@navbar-blue-border:            darken(@navbar-blue-bg, 6.5%);

// Navbar blue links
@navbar-blue-link-color:                #fff;
@navbar-blue-link-hover-color:          #00A4E4;
@navbar-blue-link-hover-bg:             transparent;
@navbar-blue-link-active-color:         #50C8E8;
@navbar-blue-link-active-bg:            darken(@navbar-blue-bg, 6.5%);
@navbar-blue-link-disabled-color:       #ccc;
@navbar-blue-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-blue-brand-color:               @navbar-blue-link-color;
@navbar-blue-brand-hover-color:         darken(@navbar-blue-brand-color, 10%);
@navbar-blue-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-blue-toggle-hover-bg:           #00A4E4;
@navbar-blue-toggle-icon-bar-bg:        #fff;
@navbar-blue-toggle-border-color:        #0073AE;

// Transparent panel
@panel-transparent-bg:            @gray-lighter;
@panel-transparent-text:          @gray-dark;
@panel-transparent-border:        none;
@panel-transparent-heading-bg:    transparent;


@state-info-text:                #005984;
@state-info-bg:                  #ADE0EE;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

// Variables
@gray-darkest: #54565B;
@gray: #76777B;
@gray-lighter: #D1D0CE;
@placeholder-text: #bbbbbb;
@brand-primary: #00A4E4; // AIG Blue
@brand-dark: #005984; // AIG Dark Blue
@brand-danger: #C41C30; // AIG Red
@brand-warning: #FDB913; // AIG Yellow
@brand-success: #78A22F; // AIG Green
@brand-info: #50C8E8; // AIG Light Blue
@brand-default: @gray;
