{{extend 'reports/layout.html'}}

{{block header}}
<div class="bc-row navbar navbar-default navbar-fixed-top">
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs breadcrumbs">
                        {{=breadcrumbs}}
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="col-sm-6 col-md-9 tabs">
                            <ul class="nav nav-pills" style="margin-left: 10px;">
                                <li role="presentation" class="active">
                                    <a id="active-tab" href="#active-investigations" aria-controls="active-investigations" role="tab" data-toggle="tab">
                                        Active
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a id="closed-tab" href="#closed-investigations" aria-controls="active-investigations" role="tab" data-toggle="tab">
                                        Closed
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a class="btn btn-danger pull-right"
                               href="{{=URL(c='reports', f='current_status.pdf')}}"
                               id="print-pdf" style="margin-left:5px">
                                <i class="fa fa-fw fa-file-pdf-o"></i>
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block center}}
<div class="row" style="margin-top: 20px">
    <div id="rpt-filters" class="col-xs-3" style="margin-bottom: 50px;">
        {{=filters}}
    </div>
    <div class="col-xs-9 report-wrapper">
        {{=report}}
    </div>
</div>
{{end}}

{{block page_js}}
<script src="{{=URL(c='static', f='public/js/spin.min.js')}}"></script>
<script src="{{=URL(c='static', f='public/js/jquery.filters.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $.filters("{{=URL(c='reports', f='current_status.load')}}", "{{=URL(c='reports', f='current_status.pdf')}}");
        $("#report-filters").on('change', function() {
            $("#active-tab").parent().addClass("active");
            $("#closed-tab").parent().removeClass("active");
        });
    });
</script>
{{end}}
