<html>
<head>
<style>

	@page {
        size: letter;
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512; top: 200pt; height: 632pt;
        }
		@frame footer_frame {           /* Static frame */
            -pdf-frame-content: footer_content;
            width: 512pt; top: 772pt; height: 20pt;
        }
    }

    @page content_pages {
        size: letter;
        @frame header_frame {           /* Static frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 30pt; height: 100pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512; top: 80pt; height: 632pt;
        }
        @frame footer_frame {           /* Static frame */
            -pdf-frame-content: footer_content;
            width: 512pt; top: 772pt; height: 20pt;
        }
    }
	.container {
		width: 512px;
	  }
	.page-section {
		padding-top:10px;
		padding-bottom: 10px;
		margin-top: 10px;
		margin-right: 0;
		margin-bottom: 10px;
		margin-left: 0;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #76777B;
	}
	.investigation-name {
		color: #005984;
		font-size: 20px;
		font-weight: 700;
	}
	.description, .next-steps {
		padding-left: 12px;
	}
	.filters {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.status {
		padding-left: 6px;
	}
	.description-header {
        font-weight: 700;
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
	.summary-table tr {
		padding-bottom: 0px;
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 5px;
		margin-left: 0;
	}
	.summary-label {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		width: 50%;
		font-weight: 700;
	}
	.summary-data {
		width: 50%;
	}
	.table {
	  background-color: #fff;
	  margin-left: 0;
	  padding-left: 0;
	}
	.status-table th,
	.status-table td {
		padding: 2px 0 0 6px;
		text-align: left;
		vertical-align: top;
	}
	.status-date {
		width: 100px;
	}
	.reported-by {
		width: 150px;
	}
	.comment {
		width: 632px;
	}
	.section-title {
		color: #00A4E4;
		font-size: 28px;
		font-weight: 700;
		padding-top: 300px;
		text-align: center;
		vertical-align: center;
	}
	#iad-title,
	#gig-title {
		color: #00A4E4;
		font-size: 28px;
		font-weight: 700;
		text-align: center;
	}
	#gig-title {
		padding: 20px;
	}
	#report-title {
		color: #00A4E4;
		font-size: 48px;
		font-weight: 700;
		text-align: center;
		padding-top: 80px;
	}
	#logo {
		text-align: left;
		margin-bottom: 6px;
	}
	#logo-title {
		padding: 5px;
		text-align: center;
	}
	#report-type {
		color: #00A4E4;
	}
	#summary-row {
		margin-left: 15px;
		margin-top: 0px;
		padding-bottom: 20px;
	}
	#title {
		text-align: right;
		font-size: 14px;
		font-weight: 700;
		margin-top: 0;
		padding-top: 0;
	}
	#iad {
		margin-top: 2px;
		color: #00A4E4;
	}
	#gig {
		color: #00A4E4;
	}
	#page-num {
		text-align: center;
	}
	#confid-stamp {
		text-align: center;
	}
	#report-date {
		text-align: center;
	}
</style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
    	<table>
    		<tbody>
    			<tr>
    				<td id="logo">
    					<img src="{{=logo}}" width="72" height="36"/>
						<div id="gig">Global Investigative Group</div>
    				</td>
    				<td id="title">
    					<div id="report-type">Current Status Report</div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">
    	<table>
    		<tbody>
    			<tr>
    				<td id="page-num">
    					Page <pdf:pagenumber> of <pdf:pagecount>
    				</td>
    				<td id="confid-stamp">
    					<strong>STRICTLY CONFIDENTIAL</strong>
    				</td>
    				<td id="report-date">
    					Report Date: {{=request.now.strftime('%b %d, %Y')}}
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	<span>
    		Page <pdf:pagenumber> of <pdf:pagecount>
    	<span id="report-date">
    		Report Date: {{=request.now}}
    	</span>
    </div>
    <!-- HTML Content -->
	<div id="title-page" class="container">
		<div>
			<table>
				<tbody>
					<tr>
						<td id="logo-title">
							<img src="{{=logo}}" width="288" height="144"/>
						</td>
					</tr>
					<tr>
						<td><div id="gig-title">Global Investigative Group</div></td>
					</tr>
					<tr>
						<td><div id="report-title">Current Status Report</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<pdf:nexttemplate name="content_pages" />
	<div>
		<pdf:nextpage />
	</div>
	<div class="container">
		<div class="page-section">
			<h1 class="filters-title">Applied Filters</h1>
			<p><strong>NOTE</strong>: Information available in this report has been filtered as follows.</p>
		</div>
		{{for f in filters:}}
		<div class="filters">
			<table>
				<tbody>
					<tr>
						<td style="vertical-align: top;"><h2>{{=f.title}}: </h2></td>
						<td style="vertical-align: top;"></td>
						<td style="vertical-align: top;"></td>
					{{for i, filter in enumerate(f.available):}}
					{{if i % 4 == 0:}}
					</tr>
					<tr>
					{{pass}}
						<td style="vertical-align: top;">
							<div class="checkbox">
								<span style="padding-right: 5px;">
								{{if filter[0] not in [s for s in f.selected]:}}
								<img src="{{=checkbox_empty}}" width="16px"/>
								{{else:}}
								<img src="{{=checkbox_checked}}" width="16px"/>
								{{pass}}
								</span>
								{{if filter[1] is None:}}
								<span>&nbsp&nbspNot Available</span>
								{{else:}}
								<span>&nbsp&nbsp{{=filter[1]}}</span>
								{{pass}}
							</div>
						</td>
					{{pass}}
					{{if len(f.available) < 4:}}
						{{for j in range(len(f.available), 4):}}
							<td></td>
						{{pass}}
					{{pass}}

				</tbody>
			</table>
			{{pass}}
		</div>
		{{pass}}
		<div>
			<pdf:nextpage />
		</div>
		<div>
			<h1 class="section-title">Active Investigations</h1>
		</div>
		{{for i, case in enumerate(active_cases):}}
		<div>
			<pdf:nextpage />
		</div>
		<div class="page-section">
			<h1 class="investigation-name">{{=case.name}} ({{=case.case_number}})</h1>
		</div>
	    <div id="summary-row">
			<div class="page-section">
				<table class="summary-table">
					<tbody>
						<tr style="padding-bottom: 10px;">
							<td>
								<table>
									<tbody>
										<tr>
											<td class="summary-label">Privileged? </td>
											<td class="summary-data">{{='Yes' if case.is_privileged else 'No'}}</td>
										</tr>
										{{for f in ['segment', 'region', 'country',
                                            'key_subject', 'exposure_amount', 'status', 'days_open']:}}
										<tr>
											<td class="summary-label">{{=db.case_file[f].label}}: </td>
											<td class="summary-data">{{=case[f] or 'Not Available'}}</td>
										</tr>
										{{pass}}
									</tbody>
								</table>
							</td>
							<td>
								<table>
									<tbody>
										<tr></tr>
										{{for f in ['total_hrs', 'two_wk_hrs', 'director', 'sr_mgr',
                                            'lead', 'resp_exec', 'closed_on']:}}
										<tr>
											<td class="summary-label">{{=db.case_file[f].label}}: </td>
											<td class="summary-data">{{=case[f] or 'Not Available'}}</td>
										</tr>
										{{pass}}
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="page-section">
			<div class="description">
				<span class="description-header">Case Summary</span>
				- {{=case.description}}
			</div>
		</div>
		<div class="page-section">
			<div class="next-steps">
				<span class="description-header">Next Steps</span>
				- {{=case.notes[0].status_note.next_steps}}
			</div>
		</div>
		<div class="status">
			<table class="table table-striped table-condensed status-table" repeat="1">
				<thead>
					<tr>
						<th>Status Date</th>
						<th>Reported By</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{{for note in case.notes:}}
					<tr>
						<td class="status-date">{{=str(note.status_note.status_date)[:12]}}</td>
						<td class="reported-by">{{=note.status_note.reported_by}}</td>
						<td class="comment">{{=note.status_note.comment}}</td>
					</tr>
					{{pass}}
				</tbody>
			</table>
		</div>
		{{pass}}
		{{if len(closed_cases) > 0:}}
		<div>
			<pdf:nextpage />
		</div>
		<div>
			<h1 class="section-title">Recently Closed Investigations</h1>
		</div>
		{{for i, case in enumerate(closed_cases):}}
		<div>
			<pdf:nextpage />
		</div>
		<div class="page-section">
			<h1 class="investigation-name">{{=case.name}} ({{=case.case_number}})</h1>
		</div>
	    <div id="summary-row">
			<div class="page-section">
				<table class="summary-table">
					<tbody>
						<tr>
							<td>
								<table>
									<tbody>
										{{for f in ['segment', 'region', 'country',
                                            'key_subject', 'exposure_amount', 'status', 'days_open']:}}
										<tr>
											<td class="summary-label">{{=db.case_file[f].label}}: </td>
											<td class="summary-data">{{=case[f]}}</td>
										</tr>
										{{pass}}
									</tbody>
								</table>
							</td>
							<td>
								<table>
									<tbody>
										{{for f in ['total_hrs', 'two_wk_hrs', 'director', 'sr_mgr',
                                            'lead', 'resp_exec', 'closed_on']:}}
										<tr>
											<td class="summary-label">{{=db.case_file[f].label}}: </td>
											<td class="summary-data">{{=case[f]}}</td>
										</tr>
										{{pass}}
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="page-section">
			<div class="description">
				<span class="description-header">Case Summary</span>
				- {{=case.description}}
			</div>
		</div>
		<div class="page-section">
			<div class="next-steps">
				<span class="description-header">Conclusion</span>
				- {{=case.conclusion}}
			</div>
		</div>
		<div class="status">
			<table class="table table-striped table-condensed status-table" repeat="1">
				<thead>
					<tr>
						<th>Status Date</th>
						<th>Reported By</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{{for note in case.notes:}}
					<tr>
						<td class="status-date">{{=str(note.status_note.status_date)[:11]}}</td>
						<td class="reported-by">{{=note.status_note.reported_by}}</td>
						<td class="comment">{{=note.status_note.comment}}</td>
					</tr>
					{{pass}}
				</tbody>
			</table>
		</div>
		{{pass}}
		{{pass}}
	</div>
</body>
</html>