{{extend 'reports/layout.html'}}

{{block header}}
<div class="bc-row navbar navbar-default navbar-fixed-top">
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div class="container-fluid" style="min-width: 800px;">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs breadcrumbs">
                        {{=breadcrumbs}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{block center:}}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div style="font-size:8em; margin-top: 20px; text-align:center;">
      <a class="fa-stack fa-lg" href="{{=URL('reports', 'current_status')}}" style="color: #78A22F">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
      </a>
    </div>
    <div style="text-align: center;">
      <a class="btn btn-success btn-xl" href="{{=URL('reports', 'current_status')}}">Current Status</a>
    </div>
  </div>
</div>
{{end center}}
