{{extend 'layout.html'}}

{{block center:}}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div style="font-size:8em; text-align:center;">
      <a class="fa-stack fa-lg" href="{{=URL('cases', 'index')}}" style="color: #005984">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-folder fa-stack-1x fa-inverse"></i>
      </a>
    </div>
    <div style="text-align: center;">
      <a class="btn btn-dark btn-xl" href="{{=URL('cases', 'index')}}">View Cases</a>
    </div>
  </div>
  <div class="col-md-4">
    <div style="font-size:8em; text-align:center;">
      <a class="fa-stack fa-lg" href="{{=URL('reports', 'index')}}" style="color: #78A22F">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
      </a>
    </div>
    <div style="text-align: center;">
      <a class="btn btn-xl btn-success" href="{{=URL('reports', 'index')}}">Build Reports</a>
    </div>
  </div>
</div>
{{end center}}
